.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text1 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2 {
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3 {
  margin-left: var(--dl-space-space-twounits);
}













@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.metadata-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
}
.metadata-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.metadata-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.metadata-nav {
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: row;
}
.metadata-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.metadata-container2 {
  top: 98px;
  flex: 0 0 auto;
  left: 76px;
  width: 1101px;
  height: 527px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.metadata-text {
  height: 50px;
}
.metadata-container3 {
  width: 100%;
  height: 33px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  justify-content: flex-start;
}
.metadata-text07 {
  margin-right: var(--dl-space-space-twounits);
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.metadata-text10 {
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.metadata-container4 {
  width: 100%;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.metadata-text11 {
  margin-right: var(--dl-space-space-fourunits);
}
.metadata-text15 {
  margin-top: var(--dl-space-space-twounits);
}
.metadata-text16 {
  font-style: normal;
  font-weight: 400;
}
.metadata-text17 {
  font-style: normal;
  font-weight: 600;
}
.metadata-container5 {
  width: 100%;
  height: 33px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  justify-content: flex-start;
}
.metadata-text18 {
  margin-right: var(--dl-space-space-fourunits);
}
.metadata-container6 {
  width: 100%;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.metadata-text26 {
  margin-right: var(--dl-space-space-fourunits);
}
@media(max-width: 767px) {
  .metadata-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .metadata-nav {
    display: none;
  }
  .metadata-btn-group {
    display: none;
  }
}
@media(max-width: 479px) {
  .metadata-header {
    padding: var(--dl-space-space-unit);
  }
}
